body {
  margin: 0;
  min-width: 336px;
  background-color: #dedede;
}

.logo {
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
